:root{
    --bg : #333;
    --aside-bg : #f4f4f4;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--bg);
    color: white;
    padding: 10px;
    text-align: center;
}

aside {
    box-sizing: border-box;
    background-color: var(--aside-bg);
    float: left;
    width: 20%;
    height: 100vh;
    padding: 20px;
}

main {
    box-sizing: border-box;
    margin-left: 20%;
    padding: 20px;
}

footer {
    background-color: var(--bg);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.main-layout {

    position: absolute;
}

#stick1 , #stick2, #stick3 {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
}

#stick1{
    background-color: rgb(168, 110, 223);
    box-shadow: 5px 10px 5px rgb(103, 103, 151);
}
#stick2{
    background-color: rgb(43, 226, 165);
    box-shadow: 5px 10px 5px rgb(12, 173, 120);
}
#stick3{
    background-color: rgb(192, 226, 43);
    box-shadow: 5px 10px 5px rgb(134, 161, 11);
}